body {
    margin: 0;
}

fieldset {
    background-color: white;
    position:fixed;
    z-index: 1000;
    margin: 0;
}

.tooltiptext {
    filter: invert(1);
    mix-blend-mode: difference;
    z-index: 10;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}